/* Header.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  /*background-color: #f5f5f5;*/
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #dc3545;
  text-decoration: none;
}

header a:hover {
  color: #ff9800;
}

